@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: 'Roboto', sans-serif;
}

:root {
    --dark-gray: #272727;
    --medium-gray: #313131;
    --light-gray: #808080;
}

.main{
  display: grid;
  height: 100vh;
  grid-template-columns: 0.15fr 1fr;
  margin: 0px !important;
}

.sidebar
{
  display: list-item;
  gap: 20px;
  align-items: top;
  background-color: grey;
  padding: 15px;
}

.sidebarItem
{
  margin-top: 5px;
  margin-bottom: 15px;
}
.canvas {
  background-color: var(--dark-gray);
  margin: auto;
  padding: 25px;
  display: grid;
  border-radius: 30px;
}

.button-row {
  justify-content: center;
  justify-self: center;
  justify-items: center;
  display: flex;
}

.LEDButtonSquare{
  height:80px;
  width:80px;
  margin: 8px;
  border: 2px solid black;
  border-radius: 5px;
  outline: 0 !important;
  touch-action: manipulation;
}

.LEDButtonSquareOverlay{
  background-color: var(--dark-gray);
  height:66px;
  width:66px;
  margin: 15px;
  outline: 0 !important;
  touch-action: manipulation;
  position: absolute;
  pointer-events: none;
}

.LEDButtonCircle75{
  height:66px;
  width:66px;
  margin: 15px;
  border: 2px solid black;
  border-radius: 33px;
  outline: 0 !important;  
  touch-action: manipulation;
}

.LEDButtonCircle75Overlay{
  background-color: var(--dark-gray);
  height:52px;
  width:52px;
  margin: 22px;
  border-radius: 26px;
  outline: 0 !important;
  touch-action: manipulation;
  position: absolute;
  pointer-events: none;
}

.LEDButtonRectangle{
  height:40px;
  width:80px;
  margin: 8px;
  border: 2px solid black;
  border-radius: 5px;
  outline: 0 !important;
  touch-action: manipulation;
}

.LEDButtonRectangleOverlay{
  background-color: var(--dark-gray);
  height:26px;
  width:66px;
  margin: 15px;
  outline: 0 !important;
  touch-action: manipulation;
  position: absolute;
  pointer-events: none;
}

.LEDButtonCircleLarge{
  height:86px;
  width:86px;
  margin: 3px;
  border: 2px solid black;
  border-radius: 42px;
  outline: 0 !important;
  touch-action: manipulation;
}

.LEDButtonCircleLargeOverlay{
  background-color: var(--dark-gray);
  height:66px;
  width:66px;
  margin: 13px;
  border-radius: 35px;
  outline: 0 !important;
  touch-action: manipulation;
  position: absolute;
  pointer-events: none;
}

.LEDButtonFull{
  height:96px;
  width:96px;
  outline: 0 !important;
  touch-action: manipulation;
}

.AutoPlayBTN {
  margin-top: 5px;
  width: auto;
  margin-right: px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 7px;
}

.containerCheckbox {
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.containerCheckbox + containerCheckbox {
  margin-top: 1em;
}

.containerCheckbox--disabled {
  color: var(--form-control-disabled);
  cursor: not-allowed;
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

input[type="checkbox"]:disabled {
  --form-control-color: var(--form-control-disabled);

  color: var(--form-control-disabled);
  cursor: not-allowed;
}

[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
}

[type="file"] + label {
  margin-top: 10px;
  background: #4CAF50;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
	font-family: 'Rubik', sans-serif;
	font-size: inherit;
  font-weight: 500;
  margin-bottom: 1rem;
  outline: none;
  padding: 1rem 50px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;
}
  
[type="file"] + label:hover {
  background-color: darken(#f15d22, 10%);
}

.fileSelect {
  background-color: #99c793;
  border-radius: 50px;
  overflow: hidden;
}
.fileSelect::before {
    color: #fff;
    font-family: inherit;
    font-size: 100%;
    height: 100%;
    right: 130%;
    line-height: 3.3;
    position: absolute;
    top: 0px;
    transition: all 0.3s;
  }

.fileSelect:hover {
    background-color: darken(#99c793, 30%);
}

.fileSelect::before {
  right: 75%;
}