*{margin: 0; padding: 0; border: 0; outline: 0;}

:root {
    --dark-gray: #272727;
    --medium-gray: #313131;
    --light-gray: #808080;
}

.main{
  display: grid;
  height: 100vh;
  grid-template-columns: 0.15fr 1fr;
  margin: 0px !important;
}

.toolbar
{
  display: list-item;
  gap: 20px;
  align-items: top;
  background-color: grey;
  padding: 15px;
}

.canvas {
  background-color: var(--dark-gray);
  margin: auto;
  padding: 25px;
  display: grid;
  border-radius: 30px;
}

.button-row {
  justify-content: center;
  justify-self: center;
  justify-items: center;
  display: flex;
}

.LEDButtonSquare{
  height:80px;
  width:80px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px;
  border: 2px solid black;
  border-radius: 5px;
  outline: 0 !important;
  touch-action: manipulation;
}

.LEDButtonCircle75{
  height:66px;
  width:66px;
  padding: 7px;
  margin: 15px;
  border: 2px solid black;
  border-radius: 60px;
  outline: 0 !important;  
  touch-action: manipulation;
}